*{
    margin: 0;
    padding: 0;
}

h1 {
    min-height: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #383c42;
}
.fundo{
    background-image: linear-gradient(to bottom, rgb(182, 0, 173), rgb(3, 145, 197));
    height: 100vh;
    color: white;
    font-family: poppins;
    text-align: center;
}

.calculadora{
    position: absolute;
    background-image: linear-gradient(to top, rgb(182, 0, 173), rgb(3, 145, 197));
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
}

.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: rgb(31, 31, 31);
    border: none;
    color: white;
}

.botao1{
    width: 150px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: rgb(31, 31, 31);
    border: none;
    color: white;
}

.botao:hover{
    background-color: black;
}

#resultado{
    width: 207px;
    background-color: white;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
}
